onedata_mode = 1
onedata_token = "$ONEDATA_TOKEN"
onedata_url = "https://cloud-90-147-75-163.cloud.ba.infn.it"
onedata_api = "$ONEDATA_API"
#onedata_user = "user"
onedata_space = "$ONEDATA_SPACE"
download_datasets = "datasets"
datasets_path = '/onedata/' + 'output' + '/'
datasets_path = datasets_path + onedata_space

#Sentinel credentials
sentinel_pass = {'username':"lifewatch", 'password':"****"}

#Landsat credentials
landsat_pass = {'username':"lifewatch", 'password':"****"}
